body {
  margin: 0;
  padding: 0;
  background-color: rgb(244, 244, 247);
  display: flex;
  justify-content: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.app {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px, rgba(0, 0, 0, 0.08) 0 0 0 1px;
  border-radius: 10px;
  padding: 20px;
  width: 900px;
  margin-top: 50px;
}

.list-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: rgb(33, 31, 31) solid 2px;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-container > button {
  margin: 0 3px;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 10px;
  background-color: transparent;
}

.list-item {
  width: 100%;
  margin: 20px 0;
  border-radius: 10px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.09) 0 0 0 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit {
  border: 2.5px solid green;
  color: green;
  text-transform: uppercase;
}

.delete {
  border: 2.5px solid red;
  color: red;
  text-transform: uppercase;
}

.edit:hover {
  background-color: lightgreen;
}

.delete:hover {
  background-color: lightpink;
}

.edit:active {
  border: 1.5px solid rgb(106, 149, 106);
  color: rgb(230, 235, 230);
  background-color: rgb(91, 132, 30);
}
.delete:active {
  border: 1.5px solid rgb(152, 25, 25);
  color: rgb(242, 241, 241);
  background-color: rgb(152, 80, 80);
}

.logo-name {
  display: flex;
  gap: 15px;
  align-items: center;
}
